//Salud stuff
.group-salud-america {
	.salud-header {
		h1, h3 {
			padding: 0 0 0 19%;
			z-index: 10;
			width:81%;
		}
		h1 {
			.font-size(2.8);
			color: @sared;
			margin-top: .6em;
			.salud-tagline {
				.font-size(2.2);
			}
		}
		h3 {
			.font-size(1.4);
			// width:83%;
			line-height:1.8;
		}
		.logo {
			position: absolute;
			top: 12px;
			left: -19px;
			// display: inline-block;
			float: left;
			z-index:20;
			width: 19%;
			// background: url(img/salud_america/SA-logox200.png) no-repeat left bottom;
			img {
				display: block;
				width: 100%;
			}
		}
	}
	#content {
		.related-policies, .taxonomy-policies {
			.third-block {
				margin-bottom: 1.4em;
				padding-bottom: 1.4em;
				article {
					// margin-bottom: 0;
					// padding-bottom: 0;
				}
			}
		}
		.sa-resource-header-icon {
			background-color: transparent;
		span {
		  position: absolute;
		  // color: white;
		  bottom: 0;
		  left:0;
		  right: 0;
		  text-align: center;
		  // width: 92%;
		  padding-left: 0;
		  .font-size(1.2);
		  // line-height: 1.4;
		  // font-weight: bold;
		}
		img {
			display: block;
		}
	}
	}

}