//Salud stuff
.group-salud-america {
	.salud-header {
		// .sa-group-header-title {
		// 	float: left;
		// 	width:81%;
		// 	.font-size(2.8);
		// 	color: @sared;
		// 	margin-top: .2em;
		// 	.salud-tagline {
		// 		.font-size(2.2);
		// 	}
		// }
		.logo {
			float: left;
			display: block;
			width: 25%;
			margin-right: 2%;
			.avatar {
				width: 100%;
				height: auto;
				margin: 0;
			}
		}
		.big-bets-banners-header {
			.big-bet-icon-link {
				margin: -22px;
			}
			.big-bet-icon {
				transform: scale(.5);
				&:hover {
					transform: scale(.8);
				}
			}
		}
	}
	#content {
		.related-policies, .taxonomy-policies {
			.third-block {
				margin-bottom: 1.4em;
				padding-bottom: 1.4em;
				article {
					// margin-bottom: 0;
					// padding-bottom: 0;
				}
			}
		}
		.sa-resource-header-icon {
			background-color: transparent;
		span {
		  position: absolute;
		  // color: white;
		  bottom: 0;
		  left:0;
		  right: 0;
		  text-align: center;
		  // width: 92%;
		  padding-left: 0;
		  .font-size(1.2);
		  // line-height: 1.4;
		  // font-weight: bold;
		}
		img {
			display: block;
		}
	}
	}

	// Featured image block, used on single pages.
	.sa-featured-image-container {
		float: right;
		max-width: 50%;
		margin-left: 4%;
		margin-bottom: 4%;
	}

    // Home page notices
    .sa-notice-item {
        // margin-top: 1.2em;
        .notice-inset{
            .notice-image-link {
                max-width: 15%;
                img {
                }
            }
        }
        .sa-action-phrase {
            .font-size(1);
        }
        .sa-notice-title{
            .font-size(1.1);
        }
        .sa-notice-title{
            a {
            }
        }
    }

	// Home page "recent items section"
    .recent-posts-section {
        .entry-content {
            .excerpt {
            	margin-bottom: 2.75em;
            }
        }
        .recent-item-cell {
        	position: relative;
        }
        .entry-footer {
        	position: absolute;
        	bottom: 0;
        }
    }
    // Video Contests
	.sa_video_contest {
		.video-contest-intro-text {
			.font-size(1.2);
		}
	}

    .archive-filter-container {
    	.topic-filter-links {
    		column-count: 2;
			column-gap: 5%;
    	}
    }
}
// Salud Hub search form
.salud-search-box .salud-search-input {
	width: 12em;
}

// Ticker
.sa-ticker-list {
    height: 2.8em;
    .sa-ticker-item {
        height: 2.8em;
        padding: 0;
    }
	.sa-ticker-item-type-label {
		padding: 0 1em;
		display: table-cell;
	    text-align: center;
	    vertical-align: middle;
        .font-size(1.1);
	}
	.sa-ticker-item-content {
		padding: .6em .8em;
		display: table-cell;
	}
}
