//Salud America subsection
.group-salud-america {

    // "Archive" pages
    .sa-archive-navigation {
        margin-bottom: 2em;
        padding-bottom: 2em;
        border-bottom: 1px solid #ccc;
    }
    .archive-filter-container {
    	margin-bottom: 1.4em;
    	padding: 1em;
    	.filter-label {
    		margin-top: 0;
    	}
    	.topic-filter-links {
    		list-style-type: none;
    		margin-bottom: 0;
    		li {
    			margin-left: 0;
    			margin-bottom: .2em;
    			padding-bottom: .2em;
    		}
    	}
    	.target-icon span {
    		display: inline-block;
			float: none;
			margin-right: .5em;
			vertical-align: middle;
    	}
    }
    .entry-header .entry-title {
        .font-size(1.8);
        margin-bottom: .5em;
    }

    // Policies "Archive"
    // .browse-topics .salud-topic h4 {
    //     clear: none;
    //     float: left;
    //     padding-left: 4%;
    //     width: 68%;
    //     margin-top: 0.5em;
    //     margin-bottom: 0px;
    //     line-height: 1.4;
    // }

	h2 {
			color:@sared;
			.font-size(2);
	}
	h3 {
			color:@sared;
			.font-size(1.6);
	}
	h4 {
			color:@sared;
			.font-size(1.2);
	}
	.widget-area {
		// float: left;
		// margin-top:3.4em;
	}
	.salud-header{
		width:100%;
		position: relative;
		.logo {
			// display: none;
			z-index: 50;
			width: 80%;
			img {
				display: block;
				margin-right: auto;
				margin-left: auto;
				max-width: 100%;
			}
		}
		.sa-kids-photo {
			display: none;
			// z-index: 10;
		}
		.big-bets-banners-header {
			z-index: 42;
			.big-bet-icon-link {
				float: left;
				margin: -34px;
			}
			.big-bet-icon {
				transition: transform 0.2s;
				transform: scale(.38);
				z-index: 43;
				position: relative;
				&:hover {
					transform: scale(.5);
					z-index: 44;
				}
			}
		}
	}
	.salud-footer {
		border-top:1px solid @saorange;
		float: left;
		padding: 2.4em 1em 2em 1em;
		margin-top: 1em;
		// img {
		// 	float: left;
		// 	margin-right: 1.2em;
		// }
		p {
			line-height: 1.6;
			.font-size(.85);
			font-style: italic;
			margin-bottom: .8em;
		}

	}
	.site-content {
		// float: right;
		width: 100%;
		article {
			// border-bottom: 1px solid @saorange;
			// margin-bottom: 24px;
			// margin-bottom: 1.71429rem;
			// padding-bottom: 0;
			// overflow: auto;
		&:last-child {
			border-bottom: none;
		}
		&.sa_archive_introduction, &.page {
			// border-bottom: none;
			// margin-bottom: 0;
		}
		&.no-border {
			border-bottom: none;
		}
		}
		.main-article {
			// padding-bottom: 3.4em;
			// margin-bottom: 3.4em;
			border-bottom: none;
		}
		.comments-area {
			padding-bottom: 1em;
			margin-bottom: 1em;
			// border-bottom: 1px solid @saorange;
		}
		.salud-banner {
			border-bottom:1px solid @saorange;
			margin-bottom: 2em;
			h2 {
				color: darken(@sagreen,10);
				font-style: italic;
				.font-size(1.8);
				clear:none;
				display: inline-block;
				margin-left: 8%;
				// margin-top: 6%;
				line-height:1.2;
				vertical-align: top;
				span {
					color:@sagreen;
					.font-size(2);
				}
			}
		}
		.browse-topics {
			// border-top: 1px solid @saorange;
			.salud-topic{
				// float: left;
				// margin-bottom: 3%;
			 //    margin-right: 3%;
			 //    width: 43%;
				// display: inline-block;
				// text-align: left;
				// padding:.6em;
				h3, h4 {
					clear: none;
				    float: left;
				    padding-left: 4%;
				    width: 68%;
				    .font-size(1.3);
				    margin-top: .5em;
				    margin-bottom: 0;
				    line-height: 1.4;
				    .font-size(1.8);
				}
				p {
					border-left: 2px solid @sayellow;
				    clear: left;
				    line-height: 1.7;
				    .font-size(1.0);
				    margin-bottom: 0;
				    margin-left: 1px;
				    margin-top: 6px;
				    padding-left: 10px;
				    padding-top: 6px;
				}
				&.sa-active-spaces p {
					border-left-color: @sablue;
				}
				&.sa-better-food-in-neighborhoods p {
					border-left-color: @saorange;
				}
				&.sa-healthier-marketing p {
					border-left-color: @sapink;
				}
				&.sa-healthier-school-snacks p {
					border-left-color: @salime;
				}
				&.sa-sugary-drinks p {
					border-left-color: @sapurple;
				}
			}
		} //End browse topics
		.salud-topic .topic-header-link {
			display: block;
			// overflow: auto;
			margin-bottom: 1em;
		}
		.policy-search {
			// border-bottom: 1px solid @saorange;
		    margin-bottom: 1em;
		    // padding-bottom: 2em;
		 //    h3 {
			// 		color:@sared;
			// 		.font-size(1.4);
			// 	}
			// h4 {
			// 		color:@sared;
			// 		.font-size(1.2);
			// 	}
		}
		.policy-search-home {
			// border-bottom: 1px solid @saorange;
		    margin-bottom: 1em;
		    // padding-bottom: 2em;
		    // display: inline-block;
		    h4 {
					color:@sared;
					.font-size(1.2);
			}
		}
		.sa-page-intro p {
			padding: 12px;
			background-color: lighten(@graylight,11);
			color: @black;
			.font-size(1.1);
			line-height: 1.6;
			// font-style: italic;
		}
		.sapolicies, .saresources {
			// .icon { margin-right: 2%; }
			// h1, h2, h4, p {
			// 	clear: none;
			// 	margin: 0 0 .5em 0;
			// }
			.entry-header .header-meta {
				background-color: lighten( @graylight, 7%);
				padding: 1em;
				margin-top: -1.4em;
				// border-bottom: 1px solid @sapurple;
			}

			#sa_associated_resources {
				list-style: none;
				li{
					margin: 0 0 .2em 0;
					padding: 2px 4px;
					&:nth-child(even) {
						background-color: desaturate( lighten(@saorange, 44), 15);
					}
					p {
						margin: .2em 0;
					}
				}
				.sa_assoc_resource_title {
					// .font-size(1.1);
				}
				.sa_assoc_resource_title p {
					.font-size(0.9);
				}
			}
		}
		.sa-policy-meta {
			.font-size(0.9);
			margin-bottom: .4em;
		}
		.sa-policy-date {
			color: #777;
			// margin-left: 2em;
		}
		.related-policies, .taxonomy-policies {
			h3 {
				margin-top: 0;
				margin-bottom: 0;
			}
			.related-by-topic, .related-by-tag {
				article:last-child {
					// border-bottom: none;
				}
			}
			.third-block {
				margin-bottom: .5em;
				padding-bottom: 0;

				article {
					margin-bottom: 0;
					padding-bottom: 0;
				}
			}
		}
		.related-what-can-you-do {
			margin-bottom: 24px;
			margin-bottom: 1.71429rem;
			padding-bottom: 24px;
			padding-bottom: 1.71429rem;
			.column1of3.aligncenter > img {
			    margin: 1em;
			}
		}
		// Special cases for the short form articles
		.sa-item-short-form {
			margin-bottom: 2em;
			padding-bottom: 2em;
			border-bottom: 1px solid #DEDEDE;
			.entry-content {
				.entry-header {
					.entry-title {
						margin-bottom: 1em;
					}
					// margin-bottom: 0;
					h2 {
						margin-bottom: .7em
					}
					.location {
						margin-bottom: .7em;
					}
					img.wp-post-image {
						margin-top: 0;
					}
				}
			}
		}

		// .related-items-sidebar {
		// 	display: none;
		// }

		.sa-resource-header-icon {
			position: relative;
			span {
			  // position: absolute;
			  color: white;
			  // bottom: 15px;
			  // text-align: center;
			  // width: 92%;
			  // font-weight: bold;
			  line-height: 2;
			  .font-size(1.2);
			  padding-left: 2%;
			  background-color: fade(@black, 80%);
			  display: block;
			}
			img {
				display: none;
			}
		}
		.entry-header  {
			// margin-bottom: 0;
			// background-color: #AAA;
			// border: 1px solid @sagreen;
			img.wp-post-image {
			    margin-top: 18px;
			    margin-top: 1.285714286rem;
			    margin-bottom: 14px;
			    margin-bottom: 1rem;
				}
			h1 {
				margin-top: 0;
				// margin-bottom: 1em !important;
			}
			.policy-header-meta {
				.font-size(.9);
			}
		}
		.entry-meta {
		    padding: 1em;
		    margin-top: 1.7em;
		    background-color: lighten( @graylight, 7% );
		    .taxonomy-links {
		    	margin-bottom: 1em;
		    }
		}
		.learn-from-success-stories, .find-changes, .examples-of-change {
			.third-block, .half-block {
				margin-bottom: 1em;
				padding-bottom: 1em;
				border-bottom: none;
			}
		}
		.salud-hero-video-summary h3 {
			margin-top:0;
		}
	} //End #content
	.salud-success-stories-sidebar {
		width:90%;
		li {
			margin: 1.2em 0;
			h5 {
				line-height: 1.2;
				margin-bottom: .4em;
			}
		}
	}
	.video-container-group {
		figcaption {
			text-align: center;
			input {
				margin-right: .5em;
			}
		}
	}
	&.post-type-archive-sa_success_story .salud-topic .entry-title {
		.font-size(1);
	}

	.sa-notice-item {
		// margin-top: 1.2em;
		&:first-of-type {
			// margin-top: 0;
		}
		.notice-inset{
			// background-color: pink;
			// border-left: 4px solid @sared;
			width: 100%;
			.notice-image-link {
				float: left;
				margin-right: 1em;
				max-width: 25%;
				height: auto;
				img {
					display: block;
				}
			}
		}
		.sa-action-phrase {
			color: @sared;
			text-transform: uppercase;
			margin: .8em .8em .4em 0;
			display: inline;
            .font-size(.8);
		}
		.sa-notice-title{
			margin-top: 0;
			margin-bottom: .4em;
			font-weight: 400;
            .font-size(.9);
			line-height: 1.4;
			margin: 0 .8em .8em 0;
			display: inline;
			a {
				color: @black;
				text-decoration: none;
			}
		}
	}

	&.changes,
	&.resources,
	&.heroes {
		#item-body {
			// Add space on archive pages
			margin-top: 2.2em;
		}
	}

	&.single-item {
		#item-body {
			article {
				// padding-bottom: 0;
			}
		}
	}
	// Big-bet links, used on single post pages.
	.big-bet-link {
		display: inline-block;
		margin-right: 1em;
		// font-weight: 700;
		padding: 0 .4em;
		text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
		color: @white;
		// .font-size(1);
		transition: all .2s ease;
		background-color: @saorange;
		// The colors vary
		&.sayellow {
			background-color: @sayellow;
		}
		&.sagreen {
			background-color: @sagreen;
		}
		&.sablue {
			background-color: @sablue;
		}
		&.sapink {
			background-color: @sapink;
		}
		&.sapurple {
			background-color: @sapurple;
		}
		&:hover {
			background-color: @ccblue;
			color: @white;
		}
		&:visited {
			color: @white;
		}
	}

	// Featured image block, used on single pages.
	.sa-featured-image-container {
		float: none;
		width: 100%;
		margin-bottom: 2em;
		.wp-caption-text {
			margin-bottom: 0;
		}
		.dial-controls {
			margin-right: .4em;
			margin-bottom: .6em;
		}
	}

	// Home page styling
	.sa-policy-map-widget {
		iframe {
			margin-bottom: 0;
		}
	}
	.sa-login-register-cta {
		background-color: @sablue;
	    padding: .4em;
	    margin-bottom: 1.2em;
	    .font-size(1.1);
		a {
			color: white;
			&:visited {
				color: white;
			}
		}
	}
	.sa-join-group-reasons {
		margin-bottom: 0;
		line-height: 1.4;
		li {
			margin-left: 2em;
			margin-bottom: .5em;
		}
	}
	// Home page "recent items section"
    .recent-posts-section {
    	.topic-selector {
    		.toggle-list {
    			margin-bottom: 0;
	    		.toggle-list-item {
		   			margin-left: 0;
		   			margin-bottom: 0;
		   			padding-bottom: 0;
		   			border-bottom: 1px solid #DADADA;
		   			&:first-child {
		   				border-top: 1px solid #DADADA;
		   			}
	    		}
    		}

    		.toggle {
	   			background-color: lighten( @graylight, 10% );
	   			&#sa-active-spaces.active {
	   				background-color: lighten( @sablue, 54% );
	   			}
	   			&#sa-better-food-in-neighborhoods.active {
	   				background-color: lighten( @saorange, 37% );
	   			}
	   			&#sa-healthier-schools.active {
	   				background-color: lighten( @sayellow, 41% );
	   			}
	   			&#sa-healthy-weight.active {
	   				background-color: lighten( @sapink, 50% );
	   			}
	   			&#sa-sugary-drinks.active {
	   				background-color: lighten( @sapurple, 57% );
	   			}
	   			&#sa-health-equity.active {
	   				background-color: lighten( @sagreen, 45% );
	   			}
    		}
    		.active {
    			background-color: lighten( @sapurple, 56% );
    		}
    		.advo-target-icon {
    			margin: .3em 0.5em .3em .3em;
    		}
    		.advo-target-name {
    			hyphens: none;
    		}
    		.working-indicator {
    			display: none;
    			&.ajax-loading {
    				display: inherit;
    			}
    		}
    	}
    	.entry-header {
    		margin-bottom: 1em;
    	}

    	.block-header {
    		margin: 0;
    		&.post-type-flag {
    			display: block;
    			a {
	    			color: white;
	    		}
    		}
    	}
    	.header-description {

    	}
    	.post-title {
    		margin: .4em 0;
    	}
    }
    .sa_video_contest {
    	.entry-header {
    		.meta {
    			color: #777;
    			// background-color: lighten(@saorange, 40%);
    			background-color: lighten(@sayellow, 40%);
    			padding: 0.2em 0.5em;
    			margin-bottom: 0;
    			// border: 1px solid @saorange;
    			font-style: italic;
    		}
    	}
    	.video-contest-intro-text {
    		.font-size(1);
    	}
    	.rules {
    		.font-size(.8);
    		padding: 1em;
    		border: 1px solid #CCC;
    	}
    	.video-contest-container {
    		margin-top: 1em;
    		border-top: 1px solid @saorange;
    	}
    	.other-video-contests {
    		margin-top: 1em;
    		padding-top: 1em;
    		border-top: 1px solid @saorange;
    	}
    }
	form[name="video_contest_ballot"] {
    	input[type="radio"] {
			display: none;
    	}
    	.video-container-group {
	    	background-color: lighten(@sayellow, 40%);
	    }
	    .input-container {
	    	line-height: 28px;
	    	margin-bottom: .6em;
    	    display: table;
		    margin-left: auto;
		    margin-right: auto;
	    }
    	label {
	    	.font-size(1.1);
		}
	    .fancy-checkbox:before {
			background-color: white;
			color: @sagreen;
			content: " ";
			display: block;
			border-radius: 50%;
			border: 2px solid @sayellow;
			position: relative;
			float: left;
			width: 24px;
			height: 24px;
			text-align: center;
			transition: all 0.2s;
			transform: scale(.625);
		}
		:checked + .fancy-checkbox:before {
			content: "\2714";
			font-size: 24px;
			background-color: lighten(@sagreen, 45%);
			border-color: lighten(@sayellow, 20%);
			transform: scale(1);
		}
		input[type="submit"] {
			width: 100%;
			background: @sagreen;
			border: 1px solid @sagreen;
		    color: white;
		    .font-size(1.2);
			transition: all 0.2s;
		    &:disabled {
				background: lighten( desaturate(@sagreen, 20%), 25%);
		    }
    	}
    }

}

.tax-sa_advocacy_targets {
	.advocacy_target_introduction {
		border-bottom: none !important;
		header {
			margin-bottom: 2em;
		}
	}
}
.advocacy_target_introduction .sa-term-info-link {
	margin-bottom: .8em;
}

.policy-meta {
	//border: 1px solid #FAB;
	// display: none;
	float: left;
	width: 100%;
	margin-top: 4em;
	h3 {
		font-weight: 400;
		margin-bottom:1em;
		line-height: 1.5;

	}
	.policy-stats {
		float: left;
		.stat-group{
			margin-bottom: 2em;
			.stat-title {
				font-weight: 400;
				margin-bottom: .4em;
				.font-size(.95);
				//margin-top: 2em;

			}
		}
	}
	iframe {
		margin: 10px auto 0;
	}
	#dial #gauge-widget {
		font-weight: bold;
	}
}

.sa-active-playx30, .sa-active-spacesx30, .sa-better-food-in-neighborhoodsx30, .sa-healthier-school-snacksx30, .sa-healthier-marketingx30, .sa-sugary-drinksx30, .sa-healthy-weightx30, .sa-healthier-schoolsx30, .sa-health-equityx30  {
	background: url(../images/sa-sprites.png) no-repeat;
	display: block;
	float: left;
	margin-right: 2%;
	height: 30px;
	width: 30px;
}

.sa-active-playx60, .sa-active-spacesx60, .sa-better-food-in-neighborhoodsx60, .sa-healthier-school-snacksx60,
.sa-sugary-drinksx60, .sa-healthy-weightx60, .sa-healthier-schoolsx60, .sa-health-equityx60, .sa-healthier-marketingx60 {
	background: url(../images/sa-sprites.png) no-repeat;
	display: block;
	float: left;
	margin-right: 4%;
	height: 60px;
	width: 60px;
}

.sa-active-playx90, .sa-active-spacesx90, .sa-better-food-in-neighborhoodsx90, .sa-healthier-marketingx90, .sa-healthier-school-snacksx90, .sa-sugary-drinksx90, .sa-healthier-schoolsx90, .sa-health-equityx90, .sa-healthy-weightx90, .sa-active-play-whx90, .sa-active-spaces-whx90, .sa-better-food-in-neighborhoods-whx90, .sa-healthier-marketing-whx90, .sa-healthier-school-snacks-whx90, .sa-sugary-drinks-whx90 {
	background: url(../images/sa-sprites.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
	// float: left;
	margin-right: 2%;
	height: 90px;
	width: 90px;
}

.facebook-whx26, .twitter-whx26, .youtube-whx26, .sa-blog-wh-26x54{
	background: url(../images/sa-sprites.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-right: 2%;
	margin-top: -5px;
}
.sa-instagramx28, .sa-facebookx28, .sa-twitterx28, .sa-youtubex28 {
	background: url(../images/sa-sprites.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
	// margin-right: 2%;
	width: 28px;
	height: 28px;
}
.sa-instagramx28 {
	background-position: -408px -70px ;
}
.sa-facebookx28 {
	background-position: -370px -70px ;
}
.sa-twitterx28 {
	background-position: -370px -108px ;
}
.sa-youtubex28 {
	background-position: -408px -108px ;
}
.sa-active-playx60{
	background-position: -140px -70px ;
}

.sa-active-spacesx60{
	background-position: -70px -70px ;
}

.sa-better-food-in-neighborhoodsx60{
	background-position: 0 -70px ;
}

.sa-healthier-school-snacksx60{
	background-position: -70px 0;
}

.sa-active-playx30{
	background-position: -200px -140px ;
}

.sa-active-spacesx30{
	background-position: -160px -140px ;
}

.sa-better-food-in-neighborhoodsx30{
	background-position: -120px -140px ;
}

.sa-healthier-school-snacksx30{
	background-position: -40px -140px ;
}

.sa-healthier-marketingx60{
	background-position: -140px 0;
}

.sa-healthier-marketingx30{
	background-position: -80px -140px ;
}

.sa-active-playx90{
	background-position: -200px -280px ;
}

.sa-active-spacesx90{
	background-position: -100px -280px ;
}

.sa-better-food-in-neighborhoodsx90{
	background-position: 0 -280px ;
}

.sa-healthier-marketingx90{
	background-position: -200px -180px ;
}

.sa-healthier-school-snacksx90{
	background-position: -100px -180px ;
}

.sa-active-play-whx90{
	background-position: -200px -480px ;
}

.sa-active-spaces-whx90{
	background-position: -100px -480px ;
}

.sa-better-food-in-neighborhoods-whx90{
	background-position: 0 -480px ;
}

.sa-healthier-marketing-whx90{
	background-position: -200px -380px ;
}

.sa-healthier-school-snacks-whx90{
	background-position: -100px -380px ;
}

.sa-sugary-drinks-whx90{
	background-position: 0 -380px ;
}

.sa-sugary-drinksx30{
	background-position: 0 -140px ;
}

.sa-sugary-drinksx60{
	background-position: 0 0;
}

.sa-sugary-drinksx90{
	background-position: 0 -180px ;
}

.sa-healthy-weightx30{
	background-position: -240px -140px ;
}

.sa-healthy-weightx90{
	background-position: -300px -180px ;
}

.sa-healthy-weightx60{
	background-position: -300px 0;
}

.sa-healthier-schoolsx30{
	background-position: -280px -140px ;
}

.sa-healthier-schoolsx60{
	background-position: -300px -70px ;
}

.sa-healthier-schoolsx90{
	background-position: -300px -280px ;
}

.sa-health-equityx30{
	background-position: -320px -140px ;
}

.sa-health-equityx60{
	background-position: -370px 0;
}

.sa-health-equityx90{
	background-position: -400px -180px ;
}

.facebook-whx26{
	background-position: -210px 0;
	width: 26px;
	height: 26px;
}

.sa-blog-wh-26x54{
	background-position: -210px -30px ;
	width: 54px;
	height: 26px;
}

.twitter-whx26{
	background-position: -240px 0;
	width: 26px;
	height: 26px;
}

.youtube-whx26{
	background-position: -210px -60px ;
	width: 26px;
	height: 26px;
}

// Special cases for single policy pages
.advo-target-thumbnail-link, .tiny-policymap-container {
	float: left;
	margin: 0 22px 12px 0;
	margin: 0 1.5833357rem 0.857142857rem 0;
}
//Styles for salud advanced search form
#cc-adv-search{
	#saps {
		width:70%;
		float: left;
		margin-right: 1%;
		margin-bottom: 1em;
	}
	#cc_advanced_search_toggle {
		float: left;
		width: 100%;
		display: block;
		margin-bottom: 1em;
	}
	#cc-adv-search-pane-container {
		margin-bottom: 1.5em;
		.cc-adv-search-option-pane {
			margin-top: 0;
			margin-bottom: 0;
			padding-bottom: 0;
			ul li  {
				margin-bottom: 6px;
				input {
					float: left;
					margin-left: 0;
				}
				label {
					display: block;
					margin-left: 20px;
					line-height: 1.4;
					}
			}
			.cc-adv-search-scroll-container {
				max-height:250px;
				overflow: auto;
			}
		}
	}
}
// Salud Hub search form
.sa-social-icon-wrapper {
	margin-top: 1em;
	background-color: @saorange;
    clear: left;
    z-index: 30;
    position: relative;
    height: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sa-social-bar-items {
	position: absolute;
	right: 2%;
	left: 2%;
	text-align: right;
}
.salud-search-box {
	display: inline-block;
}
.salud-search-box .salud-search-input {
	width: 9em;
	height: 28px;
	background-position: -100px -270px;
	padding: 3px 3px 3px 28px;
}
.salud-search-box .salud-hub-search-button {
	display: none;
}
.sa-social-icons {
	display: inline-block;
	margin-left: 2%;
}
// Search page
.salud-search-page-search-form .salud-search-box {
	display: block;
}
.salud-search-page-search-form .salud-search-box form {
	margin-bottom: .5em;
}
.salud-search-page-search-form .salud-search-box .salud-search-input {
	width: 80%;
}
.salud-search-page-search-form .salud-search-box .salud-hub-search-button {
	display: inline-block;
}
// Video contest styles
.video-contest {
	.half-block.selected-video {
		figcaption {
			background-color: lighten( @sayellow, 25% );
			.font-size( 1 );
		}
		// background-color: @sapink;
	}
}
// Videos, generally
.video-container-group{
	&.video-right {
		float: none;
	}
}
.post-type-flag.sapolicies {
	background-color: @sablue;
}
.post-type-flag.saresources {
	background-color: @sayellow;
}
.post-type-flag.sa_success_story, {
	background-color: @sapurple;
}
.post-type-flag.sa_video_contest, {
	background-color: @saorange;
}
.post-type-flag.sa_take_action, {
	background-color: @sapink;
}

.background-sapink,
.background-saorange {
	color: @white;
	font-weight: 700;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.background-sapink {
	background-color: @sapink;
}
.background-saorange {
	background-color: @saorange;
}
// Ticker
.sa-ticker-list {
	background-color: #EEE;
	border: 1px solid #DDD;
	height: 4.4em;
	overflow: hidden;
	transition: all 0.2s;
	&.pause-ticker {
		background-color: lighten(@sagreen, 50%);
		border-color: lighten(@sagreen, 30%);
	}
	.sa-ticker-item {
		// .font-size(1.2);
		height: 2.2em;
		margin: 0 .2em;
		padding: .6em;
		list-style-type: none;
	}
}